{% extends 'base.html' %}
{% block main %}
<div class="card shadow p-4 border-0 mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-primary">Historique des Ventes 📊</h2>
        <a href="{% url 'vente_create' %}" class="btn btn-success fw-bold">+ Nouvelle Vente</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th>Vendeur</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for v in ventes %}
                <tr>
                    <td>{{ v.date|date:"d/m/Y" }}</td>
                    <td class="fw-bold">{{ v.produit.nom_prod }}</td>
                    <td>{{ v.vendeur.prenom_vendeur }}</td>
                    <td>x{{ v.quantite }}</td>
                    <td class="text-success fw-bold">{{ v.montant }} FCFA</td>
                    <td class="text-center">
                        <a href="{% url 'export_pdf' v.id_vente %}" class="btn btn-sm btn-dark">🖨️ PDF</a>
                        <a href="{% url 'vente_delete' v.id_vente %}" class="btn btn-sm btn-outline-danger">🗑️ Annuler</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="6" class="text-center py-4">Aucune vente... </td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}