{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-center align-items-center vh-100" style="background: #f0f2f5;">
    <div class="col-md-4 col-11">
        <div class="card border-0 shadow-lg p-5" style="border-radius: 30px;">
            <div class="text-center mb-4">
                <div class="bg-primary d-inline-block p-3 rounded-circle mb-3 text-white shadow">💎</div>
                <h2 class="fw-bold m-0 text-dark">RAMASAMA</h2>
                <p class="text-muted small fw-bold">ESPACE CONNEXION 🇬🇦</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label small fw-bold text-secondary">UTILISATEUR</label>
                    <input type="text" name="username" class="form-control form-control-lg border-0 bg-light p-3 rounded-4" placeholder="Votre nom" required>
                </div>
                <div class="mb-4">
                    <label class="form-label small fw-bold text-secondary">MOT DE PASSE</label>
                    <input type="password" name="password" class="form-control form-control-lg border-0 bg-light p-3 rounded-4" placeholder="••••••••" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-3 fw-bold rounded-4 shadow-sm">SE CONNECTER </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}